body{
	font-family: 'Titillium Web', Helvetica, sans-serif;
	background-color: #e3eceb;
}

header{
	/*background-color: #e3eceb;*/
	height: 113px;
}

header {
	position: relative;
}

h1{
	
	color: #e6e6e6;
	background-color: #9bc9c5;
	padding-left: 40px;
	height: 30px;
}

#eventName{
	background-color: #f38533;
	position: absolute;
	color: #e6e6e6;
	bottom: 0;
	right: 0;
	font-size: 60px;
	height: 100%;
	text-align: bottom;
}

h2{
	color: #e6e6e6;
	background-color: #f38533;
	font-size: 60px;
	display: block;
	height: 100%;
	text-align: bottom;
	position: absolute;
	float: right;
	bottom: 0;
	right: 0;
}



#logo{
	display: inline-block;
	height: 111px;
	width: 526px;
}

#users{
	float: left;
	margin: 35px 35px 0 35px;
 	display: block;
 	/*height: 350px;
 	width: 500px;*/
 	background-color: rgba(0,0,0,0.56);
 	border-radius: 7px;
}

div#userFrame{
	height: 100%;
	width: 100%;
	background-color: blue;
}

.userTweets {
	display: inline-block;
}

.userField {
	display: inline-block;
/*	height: 75px;
	width: 75px;*/
	padding: 5px;
}

.hidden {
	display: none;
}

.userImage{
	
}


// orange f38533
// light grey ccc
// darker grey 777
//fast weiss e6e6e6
// fast schwarz 111
//dunkler blau 39aca0
//blau bar 9bc9c5
// bg color e3eceb
// kasten div hell weiss f3f7f7
