body{
	font-family: 'Titillium Web', Helvetica, sans-serif;
	background-color: grey;
}

header{
	background-color: black;
	height: 120px;
}

header {
	
}

h1{
	color: green;
	font-size: 60px;
	position: relative;
	float: right;


}

#logo{
	display: inline-block;
	height: 111px;
	width: 526px;
}

div#main{

}

#users{
	float: left;
	margin: 35px 0 0 35px;
 	display: block;
 	height: 350px;
 	width: 330px;
 	background-color: rgba(0,0,0,0.56);
 	border-radius: 7px;
}

div#userFrame{
	height: 100%;
	width: 100%;
	background-color: blue;
}

.userImage{
	display: block;
}